<header>
  <h1><a href="{{ site.baseurl }}/" style="text-decoration: none; color: inherit;">Naoya Egawa</a></h1>
  <nav>
    <ul>
      <li><a href="{{ site.baseurl }}/information/">Information</a></li>
      <li><a href="{{ site.baseurl }}/profile/">Profile</a></li>
      <li><a href="{{ site.baseurl }}/activities/">Activities</a></li>
      <li><a href="{{ site.baseurl }}/articles/">Articles</a></li>
      <li><a href="{{ site.baseurl }}/gallery/">Gallery</a></li>
      <li><a href="{{ site.baseurl }}/links/">Links</a></li>
      <li><a href="{{ site.baseurl }}/contact/">Contact</a></li>
    </ul>
  </nav>
</header>
